First install the libraries we will need: pandas, matplotlib, requests

In [9]:
# install pandas and matplotlib libraries

import pandas as pd
import matplotlib as mpl
import requests

Now let's import some data from the Govt. of Ontario site via requests:

In [7]:
url = "https://data.ontario.ca/dataset/ab5f4a2b-7219-4dc7-9e4d-aa4036c5bf36/resource/05214a0d-d8d9-4ea4-8d2a-f6e3833ba471/download/percent_positive_by_agegrp.csv"
filename = "percent_positive_by_agegrp.csv"
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
response = requests.get(url, headers=headers)
print (filename)

with open(filename, mode="wb") as file:
    file.write(response.content)

percent_positive_by_agegrp.csv

Now let's read the data we've got from the CSV file! :)

In [14]:
all_cases = pd.read_csv(filename)

Next, let's look at the top 5 and bottom 5 rows:

In [15]:
all_cases.head()

         DATE age_category  percent_positive_7d_avg
0  2020-05-01        0to13                   0.0319
1  2020-05-02        0to13                   0.0329
2  2020-05-03        0to13                   0.0351
3  2020-05-04        0to13                   0.0351
4  2020-05-05        0to13                   0.0347

In [16]:
all_cases.tail()

            DATE age_category  percent_positive_7d_avg
8075  2024-09-28          65+                   0.1969
8076  2024-09-29          65+                   0.1935
8077  2024-09-30          65+                   0.1905
8078  2024-10-01          65+                   0.1928
8079  2024-10-02          65+                   0.1924

Now we can look at a general description of the data:

In [18]:
all_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8080 entries, 0 to 8079
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   DATE                     8080 non-null   object
 1   age_category             8080 non-null   object
 2   percent_positive_7d_avg  8080 non-null   float64
dtypes: float64(1), object(2)
memory usage: 126.3+ KB

In [17]:
all_cases.describe()

       percent_positive_7d_avg
count              8080.000000
mean                  0.079339
std                   0.062066
min                   0.000000
25%                   0.031075
50%                   0.064900
75%                   0.112300
max                   0.411600